<h1>All Questions</h1>
<%= link_to "Ask a Question", new_question_path, class: "button" %>
<ul>
  <% @questions.each do |question| %>
    <li>
      <%= link_to question.text, question_path(question) %>
      <br>
      <%= truncate(question.answers.first.text, length: 50) %>
    </li>
  <% end %>
</ul>
