<h1>Ask a Question</h1>

<%= simple_form_for @question, url: '/questions', method: :post, id: 'new-question-form', remote: true do |f| %>
  <%= f.input :text, label: 'Question:' %>
  <%= f.button :submit, 'Submit Question' %>
<% end %>
