<h1>Ask a Question</h1>

<%= simple_form_for @question do |f| %>
  <%= f.input :title, label: "Question Title" %>
  <%= f.input :text, label: "Question Text" %>
  <%= f.button :submit, "Ask Question" %>
<% end %>
